* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 82vh 13vh 5vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    gap: 10px;
}